<section class="admission-dates">
  <h3 class="section-subheading">Dates</h3>
  <div class="admission-dates__table--wrapper">
    <div class="admission-dates__row">
      <div class="admission-dates__dates--wrapper">
        <span
          class="admission-dates__dates admission-dates__months text--small">{{ admission-dates-section.months.first-row }}</span>
        <span class="admission-dates__dates text--semibold">{{ admission-dates-section.days.first-row }}</span>
      </div>
      <div class="admission-dates__text--wrapper">
        <span class="admission-dates__text">{{ admission-dates-section.content.first-row }}</span>
      </div>
    </div>
    <div class="admission-dates__row">
      <div class="admission-dates__dates--wrapper">
        <span
          class="admission-dates__dates admission-dates__months text--small">{{ admission-dates-section.months.second-row }}</span>
        <span class="admission-dates__dates text--semibold">{{ admission-dates-section.days.second-row }}</span>
      </div>
      <div class="admission-dates__text--wrapper">
        <span class="admission-dates__text">{{ admission-dates-section.content.second-row }}</span>
      </div>
    </div>
    <div class="admission-dates__row">
      <div class="admission-dates__dates--wrapper">
        <span
          class="admission-dates__dates admission-dates__months text--small">{{ admission-dates-section.months.third-row }}</span>
        <span class="admission-dates__dates text--semibold">{{ admission-dates-section.days.third-row }}</span>
      </div>
      <div class="admission-dates__text--wrapper">
        <span class="admission-dates__text">{{ admission-dates-section.content.third-row }}</span>
      </div>
    </div>
  </div>
</section>