<footer class="footer">
  <div class="container container--footer">
    <div class="footer__wrapper">
      <div class="social-media">
        <a class="social-media__link" href="{{homepage.footer.social-media.[0].link.href}}" target="_blank"
          aria-label="{{homepage.footer.social-media.[0].link.aria-label}}" rel="noopener noreferrer">
          <svg class="social-media__icon" width="14.854" height="26">
            <use href='{{homepage.footer.social-media.[0].img.src}}' alt=""></use>
          </svg>
        </a>
        <a class="social-media__link" href="{{homepage.footer.social-media.[1].link.href}}" target="_blank"
          aria-label="{{homepage.footer.social-media.[1].link.aria-label}}" rel="noopener noreferrer">
          <svg class="social-media__icon" width="26" height="21.789">
            <use href='{{homepage.footer.social-media.[1].img.src}}' alt=""></use>
          </svg>
        </a>
        <a class="social-media__link" href="{{homepage.footer.social-media.[2].link.href}}" target="_blank"
          aria-label="{{homepage.footer.social-media.[2].link.aria-label}}" rel="noopener noreferrer">
          <svg class="social-media__icon social-media__icon--stroke" xmlns="http://www.w3.org/2000/svg" width="26"
            height="26">
            <use href='{{homepage.footer.social-media.[2].img.src}}' alt=""></use>
          </svg>
        </a>
      </div>
      <p class="footer__text">{{homepage.footer.content}}</p>
    </div>
  </div>
</footer>