<head>
{{#each head-content}}
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="Sourcery, Academy, Developers, Testers, Front-End, Kids">
<meta name="robots" content="index,follow">
<meta property="og:title" content="{{ og-title }}">
<meta property="og:url" content="{{ og-url }}">
<meta property="og:image" content="{{ og-img }}">
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:description" content="{{ description }}">
{{/each}}
<meta property="og:site_name" content="Devbridge Sourcery Academy">
<meta property="og:type" content="website">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta property="fb:app_id" content="#">
<meta property="fb:admins" content="#">
<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700|Raleway:400,600,700&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
<link rel="manifest" href="../../assets/site.webmanifest">
<link rel="mask-icon" href="../../assets/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#b22d24">
<meta name="msapplication-TileImage" content="../../assets/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
