<section class="academies-list container" id="academies-list">
  <div class="part developers">
    <div class="part__text-container">
      <h3 class="part__title section-subheading">{{homepage.academies-list-section.developers.title}}</h3>
      <p class="part__text text--color-black">{{homepage.academies-list-section.developers.content}}</p>
      <a href="{{homepage.academies-list-section.developers.btn.href}}" class="part__btn btn" aria-label="{{homepage.academies-list-section.developers.btn.aria-label}}" target="_blank">{{homepage.academies-list-section.developers.btn.content}}</a>
    </div>
    <img src="{{homepage.academies-list-section.developers.img.src}}" alt="{{homepage.academies-list-section.developers.img.alt}}" class="part__img developers__img">
  </div>
  <div class="part testers">
    <div class="part__text-container">
      <h3 class="part__title section-subheading">{{homepage.academies-list-section.testers.title}}</h3>
      <p class="part__text text--color-black">{{homepage.academies-list-section.testers.content}}</p>
      <a href="{{homepage.academies-list-section.testers.btn.href}}" class="part__btn btn" aria-label="{{homepage.academies-list-section.testers.btn.aria-label}}" target="_blank">
        {{homepage.academies-list-section.testers.btn.content}}</a>
    </div>
    <img src="{{homepage.academies-list-section.testers.img.src}}" alt="{{homepage.academies-list-section.testers.img.alt}}" class="part__img testers__img">
  </div>
  <div class="part front-end">
    <div class="part__text-container">
      <h3 class="part__title section-subheading">{{homepage.academies-list-section.front-end.title}}</h3>
      <p class="part__text text--color-black">{{homepage.academies-list-section.front-end.content}}</p>
      <a href="{{homepage.academies-list-section.front-end.btn.href}}" class="part__btn btn" aria-label="{{homepage.academies-list-section.front-end.btn.aria-label}}" target="_blank">{{homepage.academies-list-section.front-end.btn.content}}</a>
    </div>
    <img src="{{homepage.academies-list-section.front-end.img.src}}" alt="{{homepage.academies-list-section.front-end.img.alt}}" class="front-part__img part__img">
  </div>
  <div class="part kids">
    <div class="part__text-container">
      <h3 class="part__title section-subheading">{{homepage.academies-list-section.kids.title}}</h3>
      <p class="part__text text--color-black">{{homepage.academies-list-section.kids.content}}</p>
      <a href="{{homepage.academies-list-section.kids.btn.href}}" class="part__btn btn" aria-label="{{homepage.academies-list-section.kids.btn.aria-label}}" target="_blank">{{homepage.academies-list-section.kids.btn.content}}</a>
    </div>
    <img src="{{homepage.academies-list-section.kids.img.src}}" alt="{{homepage.academies-list-section.kids.img.alt}}" class="part__img kids__img">
  </div>
</section>