<section class="intro__container container" id="about">
    <div class="intro__content">
        <h1 class="intro__heading section-heading">{{homepage.intro-section.title}}</h1>
        <p class="intro__text">{{homepage.intro-section.content}}</p>
        <button class="btn intro__button" aria-label="{{homepage.intro-section.btn.aria-label}}">
            {{homepage.intro-section.btn.content}} </button>
    </div>
    <div class="intro__image-wrapper">
        <img class="intro__image" src="{{homepage.intro-section.img.src}}" alt="{{homepage.intro-section.img.alt}}">
    </div>
</section>